<div class="row">
    <div class="col-lg-12">
        <section class="widget">
            <header>
                <h1> Inasistencias </h1>
            </header>
            <div class="widget-body">
                <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                    <div class="row">
                        <form [formGroup]="FormAlumno">
                            <small>Alumno</small>
                            <sui-select style="width: 100%;" class="selection" formControlName="alumnoid"
                                placeholder="Alumno" (selectedOptionChange)="buscar($event)"
                                [options]="selectAlumno" labelField="nombrecompleto" valueField="alumnoid"
                                #alumnoselect>
                                <sui-select-option *ngFor="let option of alumnoselect.filteredOptions" [value]="option">
                                </sui-select-option>
                            </sui-select>
                        </form>
                    </div>
                </div>
                <fieldset>
                    <div class="tabllePaddingLTE no-padding table-responsive"
                        style="margin-top: 20px; font-size: 13px;">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover"
                            id="tablaInasistencia">
                            <thead>
                                <tr style="color: #fff;">
                                    <th class="text-center headerTable" class="no-sort text-center"
                                        style="background: #443E42; color: white;">
                                        Materia
                                    </th>
                                    <th class="text-center headerTable">
                                        Fecha
                                    </th>
                                    <th class="text-center headerTable">
                                        Tipo de inasistencia
                                    </th>
                                    <th class="text-center headerTable">
                                        Estatus de inasistencia
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="font-size: 13px;" *ngFor="let c of arrayentidad">

                                    <td class="text-center">
                                        <p>{{c.materia}}</p>
                                    </td>
                                    <td class="text-center">
                                        <p>{{c.fecha + ' - ' + c.hora }}</p>
                                    </td>
                                    <td class="text-center">
                                        <p>{{c.tipoinasitencia}}</p>
                                    </td>
                                    <td class="text-center">
                                        <p>{{c.estatusinasitencia}}</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>

        </section>
    </div>
</div>